@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  /* height: 100vh; */
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0.4);
  animation: idle 9s infinite linear;
  color: #fff;
}

.undefined {
  height: 100vh;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33ccbd;
  }
  40% {
    background: #3be7bc;
  }
  60% {
    background: #6eddcc;
  }
  80% {
    background: #33bdcc;
  }
  100% {
    background: #33cccc;
  }
}

@keyframes change-bg-color {
  0% {
    background: #cc5e33;
  }
  20% {
    background: #cc8533;
  }
  40% {
    background: #cca133;
  }
  60% {
    background: #fcc500;
  }
  80% {
    background: #cc9e33;
  }
  100% {
    background: #cc5e33;
  }
}

@keyframes idle {
  0% {
    background: #a9a3b4;
  }
  20% {
    background: #ab8da8;
  }
  40% {
    background: #8d6e88;
  }
  60% {
    background: #735b6d;
  }
  80% {
    background: #ab8da8;
  }
  100% {
    background: #a9a3b4;
  }
}

.animated-bg-cold {
  animation: color 9s infinite linear;
}

.animated-bg-warm {
  animation: change-bg-color 9s infinite linear;
}

/* .animated-bg-idle {
  animation: idle 9s infinite linear;
} */

.app .search {
  text-align: center;
  padding: 2rem 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
  outline: none;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  /* height: 100vh; */
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.app .top {
  /* margin-top: 4rem; */
  width: 100%;
  margin: 1rem auto;
}

.location-name {
  font-size: 1.8rem;
}

.main-info {
  display: flex;
  justify-content: space-between;
}

.app .description {
  /* position: relative;
  right: -80%;
  top: -30%; */
  display: flex;
  flex-direction: column;

  /* transform-origin: 0 0;
  transform: rotate(269deg); */
}
.description img {
  height: 40px;
  width: 40px;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto 3rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-weight: 700;
}

.tomorrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.box {
  width: 97.1px;
}

.season-image {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.season-image img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 1rem;
  }
  .feels,
  .humidity {
    margin-right: 12px;
  }
  /* .app:before {
    content: '';
    background: url('https://svgsilh.com/svg_v2/158601.svg') no-repeat center */
  /* center/cover; */
  /* animation: idle 9s infinite linear; */
  /* position: absolute;
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    margin-left: 0 auto;
  } */
  .container {
    margin: 0 15px;
  }
}
